<h3>Create an Account</h3>
<div>
  <form class="ui form" (ngSubmit)="onSubmit()" [formGroup]="authForm">
    <app-input
      inpType="text"
      label="Username"
      [control]="authForm.controls.username"
    ></app-input>
    <!-- {{ authForm.controls.username.errors | json }} -->
    <app-input
      inpType="password"
      label="Password"
      [control]="authForm.controls.password"
    ></app-input>
    <app-input
      inpType="password"
      label="Password confirmation"
      [control]="authForm.controls.passwordConfirmation"
    >
    </app-input>

    <div class="ui red basic label" *ngIf="authForm.errors">
      <p *ngIf="authForm.errors?.['passwords_are_different']"></p>
    </div>
    <div>
      <button class="ui submit button primary">Submit</button>
    </div>
  </form>
  {{ authForm.errors | json }}
  <!-- <p>Authform.valid = {{ authForm.valid }}</p> -->
</div>
